Рабочий код

In [21]:
import numpy as np
import pandas as pd
from pathlib import Path
import os
from PIL import Image

base_path = Path('./data/emotions')
class_names = sorted(os.listdir(base_path))

# удалим файлы с неподходящим разрешением
for clss in class_names:
    for image in sorted(os.listdir(base_path/clss)):
        fpath = (base_path/clss/image)
        img = Image.open(fpath)
        img = np.array(img)
        if img.shape == (224, 224, 3):
            continue
        else:
            print('Oops')
            fpath.unlink()

# создадим пустные списки для векторов по классам
anger_features = []
disgust_features = []
fear_features = []
joyfulness_features = []
neutral_features = []
features_lst= sorted([anger_features, disgust_features,
                      fear_features, joyfulness_features,
                      neutral_features])

# переведем изображения в вектора, добавим таргет
# и сохраним в списках
final_df = pd.DataFrame()
for name, lst in zip(class_names, features_lst):
    fpath = base_path / name
    lst_idx = features_lst.index(lst)
    for img in os.listdir(fpath):

        img = Image.open(fpath/img)
        img = np.array(img)

        pixels1 = img.shape[0]
        pixels2 = img.shape[1]
        channels = img.shape[2]

        a = np.reshape(img, (pixels1*pixels2*channels))
        b = np.ones(1, dtype='uint8')*lst_idx
        c = np.append(a, b)
        lst.append(c)

    # объединим все данные в общую таблицу
    final_df = pd.concat([final_df, pd.DataFrame(lst)], axis=0)

In [22]:
final_df

,0,1,2,3,4,5,6,7,8,9,...,150519,150520,150521,150522,150523,150524,150525,150526,150527,150528
0,15,1,1,15,1,1,15,1,1,15,...,111,20,15,111,20,15,111,20,15,0
1,-1,-52,0,-2,-53,0,-2,-53,0,-2,...,-55,2,23,-54,0,24,-55,0,23,0
2,41,41,41,40,40,40,40,40,40,39,...,122,122,122,117,117,117,111,111,111,0
3,12,11,9,12,11,9,12,11,9,12,...,-107,107,93,-107,107,93,-103,111,97,0
4,30,30,30,25,25,25,19,19,19,17,...,48,48,48,45,45,45,40,40,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,87,83,71,88,84,72,87,83,71,84,...,-81,-86,-82,-80,-86,-82,-80,-86,-82,4
394,-15,-15,-15,-14,-14,-14,-14,-14,-14,-17,...,-23,-23,-23,-20,-20,-20,-20,-20,-20,4
395,87,79,32,85,77,28,84,79,24,84,...,-5,92,-108,-4,93,-107,-3,94,-106,4
396,84,61,45,87,64,48,81,58,42,80,...,-60,-58,-61,-53,-51,-54,-49,-47,-50,4
397,61,54,38,51,44,28,39,32,16,38,...,33,22,20,32,21,19,32,21,19,4

In [ ]:
from pathlib import Path
from tensorflow.io import read_file
from tensorflow.image import decode_image

def delete_corrupted_files(folder, base_dir):
    for image in sorted((base_dir / f'{folder}').glob('*')):
        try:
            img = read_file(str(image))
            img = decode_image(img)

            if img.ndim != 3:
                print(f"[FILE_CORRUPT] {str(image).split('/')[-1]} DELETED")
                image.unlink()

        except Exception as e:
            print(f"[ERR] {str(image).split('/')[-1]}: {e} DELETED")
            image.unlink()

In [7]:
for i in features_lst[1]:
    print(i.shape)
    # break

(2379001,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(1440751,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(3240001,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(4345177,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(150529,)
(4500001,)
(8996593,)
(5121601,)
(5834881,)

In [2]:
pd.DataFrame(features_lst[0])

,0,1,2,3,4,5,6,7,8,9,...,150519,150520,150521,150522,150523,150524,150525,150526,150527,150528
0,15,1,1,15,1,1,15,1,1,15,...,111,20,15,111,20,15,111,20,15,0
1,-1,-52,0,-2,-53,0,-2,-53,0,-2,...,-55,2,23,-54,0,24,-55,0,23,0
2,41,41,41,40,40,40,40,40,40,39,...,122,122,122,117,117,117,111,111,111,0
3,12,11,9,12,11,9,12,11,9,12,...,-107,107,93,-107,107,93,-103,111,97,0
4,30,30,30,25,25,25,19,19,19,17,...,48,48,48,45,45,45,40,40,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,14,16,15,15,17,16,15,17,16,14,...,53,23,21,56,25,23,57,26,24,0
170,-124,95,66,-124,95,66,-124,95,66,-124,...,66,46,19,66,46,19,66,46,19,0
171,-38,-50,-62,-50,-62,-74,-52,-64,-76,-44,...,114,45,14,113,44,13,112,43,10,0
172,100,97,92,94,91,86,91,84,78,91,...,24,22,27,23,21,26,22,20,25,0
173,76,76,76,67,67,67,61,61,61,61,...,50,50,50,47,47,47,44,44,44,0

In [3]:
for name, lst in zip(class_names, features_lst):
    print(name, len(lst))

anger 174
disgust 292
fear 177
joyfulness 339
neutral 398

In [ ]:
a = pd.DataFrame(features_lst[0])

In [102]:
print(features_lst[0][0].shape)

(150528,)

In [165]:
features_lst[0][0].T

array([ 15,   1,   1, ..., 111,  20,  15], dtype=uint8)

In [167]:
np.vstack([[features_lst[0][0].T, features_lst[0][1]]])

array([[array([ 15,   1,   1, ..., 111,  20,  15], dtype=uint8),
        array([0], dtype=uint8)]], dtype=object)

In [161]:
empty = pd.DataFrame()

a = pd.DataFrame(features_lst[0][2]).T
b = pd.Series(features_lst[0][3], name='target')
c = a.join(b).T
c

          0
0       255
1       204
2         0
3       254
4       203
...     ...
150524   24
150525  201
150526    0
150527   23
target    0

[150529 rows x 1 columns]

In [163]:
a = pd.DataFrame(features_lst[0][4]).T
b = pd.Series(features_lst[0][5], name='target')
d = a.join(b).T
empty = pd.concat([c, d], axis=1)

empty.T

,0,1,2,3,4,5,6,7,8,9,...,150519,150520,150521,150522,150523,150524,150525,150526,150527,target
0,255,204,0,254,203,0,254,203,0,254,...,201,2,23,202,0,24,201,0,23,0
0,41,41,41,40,40,40,40,40,40,39,...,122,122,122,117,117,117,111,111,111,0

In [147]:
empty.T

,0,1,2,3,4,5,6,7,8,9,...,150519,150520,150521,150522,150523,150524,150525,150526,150527,target
0,27,23,11,30,26,14,33,29,17,36,...,128,113,110,134,120,117,158,144,141,1
1,35,30,27,52,47,44,40,32,30,24,...,39,25,22,31,17,14,39,25,22,1
1,35,30,27,52,47,44,40,32,30,24,...,39,25,22,31,17,14,39,25,22,1

In [82]:
features_lst.index(features_lst[1])

1

In [59]:
anger_features = pd.DataFrame(lst)
anger_target = pd.Series([0]*anger_features.index, index=anger_features.index, name='target')

anger_df = anger_features.join(anger_target, on=anger_df.index)
anger_df

[['b'], ['b'], ['b'], ['b'], ['b']]

In [149]:
column_number = 0
x = str(column_number)
x

'0'